
<h2>Please log in.</h2>


    <form method = "POST">
      <div id="boxAroundInputInfo">
      <label for="mailAddress">Email Address:
      <input name= "mailAddress" id="mailAddress">

      <label for="password">Password:
      <input name= "password" id="password">

      </div>
      <button name="button" id="submitButton">LOG IN</button>
    </form>

    <script src="emptyInput.js" type="text/javascript">
    </script>
