{{#if err}}
<div class="error"> Oops, something went wrong. Please try again.</div>
{{/if}}

<a id="logout" href="/logout"><img src="icons8-export-80.png"></a>


<p>Parenting or pet license for everyone:</p>
<div>SIGN UP NOW!</div>


    <form method = "POST">
         <input name= "signature" size="300" id="signatureInput" type="hidden">


           <canvas id="canvas" width="600" height="100"></canvas>


       <input type="hidden" name="_csrf" value="{{csrfToken}}">
         <button name="button" id="submitButton">submit</button>
    </form>
    <script src="canvas.js" type="text/javascript">
    </script>
    <script src="emptyInput.js" type="text/javascript">
    </script>
