
<h1>Petition for an obligatory 30 minutes nap during work time!</h1>
    <h2>Wanna sign this petition? Register or login in first.</h2>


    <form method = "POST">
      <div id="boxAroundForm">
      <label for="first">First name:
    	<input name= "first" id="first">

      <label for="last">Last name:
      <input name= "last" id="last">

      <label for="mailAddress">Email Address:
      <input name= "mailAddress" id="mailAddress">

      <label for="password">Password:
      <input name= "password" id="password">
      </div>

      <button name="button" id="submitButton">Sign up</button>
    </form>

    <div>If you are already a member, please <a href="/login">log in</a><div>

    <script src="emptyInput.js" type="text/javascript">
    </script>
