* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#2980b9, #6dd5fa, #ffffff);
    height: 100vh;
}

#canvas {
    background-color: snow;
    /* border: 5px solid dimgrey; */
}

#list_signers li {
    list-style-type: none;
}

#boxAroundInputInfo {
    display: block;
}
#boxAroundForm {
    display: inline-block;
}
